<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <intent>
            <action android:name="com.night.sora.extension.BIND" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="Sora"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sora">

        <service
            android:name=".catalog.JikanCatalogService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.night.sora.extension.BIND" />
            </intent-filter>
            <meta-data android:name="sora.extension.id" android:value="sora.core.jikan" />
            <meta-data android:name="sora.extension.name" android:value="Sora Anime &amp; Manga Catalog" />
            <meta-data android:name="sora.extension.apiVersion" android:value="1" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
