<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <queries><intent><action android:name="android.settings.DREAM_SETTINGS"/></intent><intent><action android:name="android.settings.ACTION_NOTIFICATION_LISTENER_SETTINGS"/></intent></queries>
    <application android:theme="@style/AodTheme" android:label="AOD" android:icon="@drawable/aod_mark" android:allowBackup="false" android:dataExtractionRules="@xml/backup_rules" android:supportsRtl="true">
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.themes" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/theme_paths"/>
        </provider>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".PreviewActivity" android:exported="false" />
        <service android:name=".AmbientService" android:exported="true" android:permission="android.permission.BIND_DREAM_SERVICE" android:label="AOD Ambient">
            <intent-filter><action android:name="android.service.dreams.DreamService"/></intent-filter>
            <meta-data android:name="android.service.dream" android:resource="@xml/dream"/>
        </service>
        <service android:name=".Notifications" android:exported="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:label="AOD notification access">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter>
        </service>
    </application>
</manifest>
