<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="app.nami.extension"
        android:required="false" />

    <application
        android:label="KayoAnime"
        android:allowBackup="false">
        <meta-data
            android:name="app.nami.extension.api"
            android:value="1" />
        <meta-data
            android:name="app.nami.extension.provider"
            android:value=".KayoAnimeExtensionProvider" />
        <meta-data
            android:name="app.nami.extension.name"
            android:value="KayoAnime" />
    </application>
</manifest>
