<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="tachiyomi.animeextension"
        android:required="false" />

    <application
        android:label="Aniyomi: KayoAnime"
        android:allowBackup="false">
        <meta-data
            android:name="tachiyomi.animeextension.class"
            android:value="app.nami.source.kayoanime.KayoAnimeSource" />
        <meta-data
            android:name="aniyomix.name"
            android:value="KayoAnime" />
        <meta-data
            android:name="aniyomix.extensionLib"
            android:value="17" />
    </application>
</manifest>
