<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="Auri YouTube Music"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <service
            android:name=".SpotuiYouTubeMusicSourceService"
            android:exported="true"
            android:process=":youtube_music_source">
            <intent-filter>
                <action android:name="com.night.spotui.source.BIND" />
            </intent-filter>
            <meta-data android:name="spotui.source.id" android:value="spotui.youtube.music" />
            <meta-data android:name="spotui.source.name" android:value="YouTube Music" />
            <meta-data android:name="spotui.source.apiVersion" android:value="2" />
        </service>
    </application>
</manifest>
